$question-background: linear-gradient(270deg, #2C00AE 0%, #170C4E 100%);

@font-face {
  font-family: "Instok";
  src: url("../fonts/IstokWeb-Bold.ttf") format("ttf"),
  url("../fonts/IstokWeb-Regular.ttf") format("ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Istok';
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url("../img/quest_bg.png"), url("../img/background.png");
  background-size: auto 100%, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0;
}

form {
  width: 100%;
  display: block;
}


.header-wrapper {
  text-align: center;

  h1 {
    font-style: normal;
    font-size: 72px;
    font-weight: 700;
    line-height: 115px;
  }

  .middle-text {
    font-family: 'Istok';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }

  .bottom-text {
    font-size: 32px;
    font-style: normal;
    line-height: 48px;
  }
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .question {
    width: 100%;
    padding: 20px;
    border: 20px solid transparent;
    background-color: $question-background;

    .question-text {
      font-style: normal;
      font-size: 42px;
      line-height: 60px;
      font-weight: 700;
    }

    .answers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;

      .answer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        max-width: 40%;

        input {
          opacity: 0;
          width: 0;

          &:after {
            background-color: transparent;
            width: 20px;
            height: 20px;
            border: 4px solid white;
            border-radius: 100%;
          }
        }

        input:checked {

          &:after {
            background-color: white;
          }
        }

        label {
          font-size: 32px;
          font-style: normal;
          line-height: 48px;
        }
      }
    }
  }
}