$question-background: linear-gradient(270deg, #2C00AE 0%, #170C4E 100%);

@font-face {
  font-family: "Instok";
  src: url("../fonts/IstokWeb-Bold.ttf") format("ttf"),
  url("../fonts/IstokWeb-Regular.ttf") format("ttf");
}

body {
  height: 100%;
  background-image: url("../img/quest_bg.png"), url("../img/background.png");
  background-size: auto 100%, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0;
}


.header-wrapper {
  text-align: center;

  .middle-text {
    font-family: 'Istok';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 115px;
  }

  .bottom-text {
    
  }
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .question {

  }
}